
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: aliceblue;
    display: flex;
}
.twohalfs{
    display: flex;

}
.halfInside{
    display: flex;
}